/*I dette dokumentet skal elementer som endrer propertier ligge!*/

.top_block_js{

    height: 60px;

    width: 100%;

    background-color: black;

    opacity: 1;

    position: fixed;

    z-index: 999;

    top:0;
}

.mid_block_js{

    position: relative;
    width: 750px;
    height: 1600px;/*fiktiv høyde skal endres til auto*/

    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;/*må være headers høyde*/


    background-color: whitesmoke;


    border-radius: 5px;

    border: 1px solid lightgray;
}