article.innehold{

    z-index: 10;

    background-color: green;

    width: 700px;

    height: 800px;

    margin: 0 auto;

    position: relative;

}

nav.meny{

    z-index: 9;

    background-color: lightblue;

    width: 100%;

    height: 250px;

    position: relative;
}

html, body {
    padding: 0;
    margin: 0;
}/*Fikser padding*/
