nav.top_block{

    position: absolute;

    background-color: #408E8E;

    background-image: url("images/bokehtest_v2_1_nonoise.png");

    width: 100%;

    height: 300px;

    z-index: 30;

}

h1.site_title{

    font-family: 'Oswald', sans-serif;

    text-align: center;
    line-height: 2;
    letter-spacing: 2px;

    font-size: 40px;

    color: whitesmoke;

}

div.align{

    text-align: center;

}

a.top_navigation{

    font-family: 'Oswald', sans-serif;

    text-align: left;

    font-size: 15px;

    color: whitesmoke;

    padding-left: 5px;
    padding-right: 5px;

}



article.mid_block{
/* LOL */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    margin-top: 220px;


    position: absolute;

    z-index: 40;

    background-color: whitesmoke;

    width: 70%;

    height: auto;

    border-radius: 5px;

    -webkit-box-shadow: 0px 6px 11px 0px #C2C2C2;
    -moz-box-shadow: 0px 6px 11px 0px #C2C2C2;
    box-shadow: 0px 6px 11px 0px #C2C2C2;





}


footer.botom_block{


    position:absolute;
    top: 100%;
    width:100%;
    height:200px;   /* Height of the footer */
    background-image: url("images/bokehtest_v2_1_nonoise.png");
}


body{


    /*background-image: url("http://i.imgur.com/Ngdj3YA.jpg");*/
    background-size: 100%;
    background-repeat: no-repeat;

}

html, body {
    padding: 0;
    margin: 0;
}/*Fikser padding*/
