p{
    font-family: Helvetica;
    font-size: 13pt;
    color: #2F3536;

    margin-top: 30px;
    margin-bottom: 30px;
}

body{
    width:90%;
    height:100%;
    overflow:hidden;


    margin-left: auto;
    margin-right: auto;

    margin-top: 45px;

    margin-bottom: 0;


}

.site_title{

    font-family: Helvetica;

    text-align: center;

    color: #2F3536;

    font-size: 20px;

    margin-bottom: 30px;


}

.placeholderimage_1{

    height: auto;
    width: 675px;


}

.orderbutton {
    width:175px;
    height:auto;
}