p{
    font-family: Helvetica;
    font-size: 13pt;
    color: darkgrey;
}

body{
    width:90%;
    height:100%;
    overflow:hidden;


    margin-left: auto;
    margin-right: auto;

    margin-top: 45px;

    margin-bottom: 0;


}

.reserve_time_button{

    text-align: center;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    background-color: cadetblue;
    color: floralwhite;

    border-radius: 5px;

    padding: 5px;

    font-size: 30px;

    display: inline-block;






}

.site_title{

    font-family: Helvetica;

    text-align: center;

    color: darkgrey;

    font-size: 20px;

    margin-bottom: 30px;


}

.placeholderimage_1{

    height: auto;
    width: 675px;


}

.orderbutton {
    width:175px;
    height:auto;
    margin-left:47.5%;
    margin-right:auto;
}